---
Language: Cpp
BasedOnStyle: Google
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCaseColons: false
AllowShortCaseExpressionOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
ColumnLimit: 80
IndentWidth: 4
Standard: c++17
TabWidth: 4
UseTab: Never
---
