IMAGE_FAVICON	PNG	"img/favicon.png"
IMAGE_CITY		PNG	"img/city.png"
IMAGE_CROWN		PNG	"img/crown.png"
IMAGE_MOUNTAIN	PNG	"img/mountain.png"
IMAGE_SWAMP		PNG	"img/swamp.png"
IMAGE_OBSTACLE	PNG	"img/obstacle.png"
IMAGE_CURRENTON	PNG	"img/currentOn.png"
IMAGE_ERASE		PNG	"img/erase.png"
IMAGE_LIGHT		PNG	"img/light.png"
IMAGE_OPTIONS	PNG	"img/options.png"
IMAGE_GITHUB	PNG	"img/github.png"
